{% extends "::admin.html.twig" %}

{% block content %}

{% block css %}
<!-- Dropzone css -->
<link href="{{ asset('assets/plugins/dropzone/dist/dropzone.css')}}" rel="stylesheet" type="text/css">

<!-- DataTables -->
<link href="{{asset('assets/plugins/magnific-popup/dist/magnific-popup.css')}}" rel="stylesheet" type="text/css" />
<link href="{{asset('assets/plugins/jquery-datatables-editable/datatables.css')}}" rel="stylesheet" type="text/css" />

<!-- Multiselect -->
<link rel="Stylesheet" type="text/css" href="{{asset('template/css/select2.css')}}" />
<link rel="Stylesheet" type="text/css" href="{{asset('template/css/select2-bootstrap.css')}}" />
<style>
    img{
        width: 50px;
    }
</style>

{% endblock %}

<div class="content">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="pull-left page-title">Les biens</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="#">Tous les biens</a></li>
                    <li class="active">Biens en attente</li>
                </ol>
            </div>
        </div>
        
        
        <div class="panel" id="list">
                            
            <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="m-b-30">
                        Les biens non validés
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped" id="datatable-fixed-header">
                <thead>
                    <tr>
                        <th>Nom du bien</th>
                        <th>Type du bien</th>
                        <th>Localité</th>
                        <th>Prix location</th>
                        <th>Photo</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for bien in biens %}
                    <tr class="gradeA">
                        <td>{{ bien.nomBien }}</td>
                        <td>{{ bien.type.libelle }}</td>
                        <td>{{ bien.localite.libelle }}</td>
                        <td>{{ bien.prixlocation }}</td>
                        <td><img src="data:image/png;base64,{{ bien.images[0].image }}"></td>
                        <td class="actions">
                            <button type="button" class="btn btn-success waves-effect waves-light">Valider <i class="fa fa-save"></i></button>  |  
                            <button type="button" class="btn btn-danger waves-effect waves-light">Archiver <i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
            <!-- end: page -->

    </div> <!-- end Panel -->

    </div> <!-- container -->
                               
</div>

{% endblock %}

{% block javascript %}

    <!-- Datatables-->
        <script src="{{asset('assets/plugins/datatables/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('assets/plugins/datatables/dataTables.bootstrap.js')}}"></script>

        <!-- Datatable init js -->
        <script src="{{asset('assets/pages/datatables.init.js')}}"></script>  

        <script type="text/javascript">
        
{% endblock %}