<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Mon compte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="assets/images/favicon_1.ico">

    <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('assets/css/core.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('assets/css/icons.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('assets/css/components.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('assets/css/pages.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('assets/css/menu.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('assets/css/responsive.css')}}" rel="stylesheet" type="text/css">

    <script src="assets/js/modernizr.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->


</head>

<body>


<div id='conexion'>
    <div class="wrapper-page">
        <div class="panel panel-color panel-primary panel-pages">
            <div class="panel-heading bg-img">
                <div class="bg-overlay"></div>
                <h3 class="text-center m-t-10 text-white"> Se connecter </h3>
            </div>


            <div class="panel-body">
                <form method="POST" class="form-horizontal m-t-20" id="connexion">

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input name="email" class="form-control input-lg" type="text" required="" placeholder="Votre adresse email">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control input-lg" type="password" name="password" required="" placeholder="Mot de passe">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup">
                                    se souvenir de moi
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="form-group text-center m-t-40">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-lg w-lg waves-effect waves-light" type="submit">Se connecter</button>
                        </div>
                    </div>

                    <div class="form-group m-t-30">
                        <div class="col-sm-7">
                            <a href="#"><i class="fa fa-lock m-r-5"></i> mot de passe oublier?</a>
                        </div>
                           <div id='creation' class="col-sm-5 text-right">
                            <a href="#">Créer un compte</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div id='compte'>
<div class="wrapper-page">
    <div class="panel panel-color panel-primary panel-pages">
        <div class="panel-heading bg-img">
            <div class="bg-overlay"></div>
            <h3 class="text-center m-t-10 text-white">
                Création de compte
            </h3>
        </div>

        <div class="panel-body">
            <form class="form-horizontal m-t-20" method="post" action="">

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control input-lg" type="text" name="nomcomplet" required="" placeholder="nomcomplet ">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control input-lg" type="email" name="email" required="" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control input-lg" type="text" name="adresse"  required="" placeholder="adresse ">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control input-lg" type="number" name="numpiece" required="" placeholder="numpiece ">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control input-lg" type="number" name="tel" required="" placeholder="tel">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control input-lg" type="number" name="codebanque" required="" placeholder="codebanque ">
                    </div>
                </div>              

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control input-lg" type="password" name="motdepasse" required="" placeholder="mot de passe">
                    </div>
                </div>

                <div class="form-group text-center m-t-40">
                    <div class="col-xs-12">
                        <button class="btn btn-primary waves-effect waves-light btn-lg w-lg" type="submit">Enrigister</button>
                    </div>
                </div>

                <div class="form-group m-t-30">
                    <div id='retour' class="col-sm-12 text-center">
                        <a href="#">J'ai dejà un compte?</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
</div>


    <script>
        var resizefunc = [];
    </script>

    <!-- Main  -->
    <script src="{{asset('assets/js/jquery.min.js')}}"></script>
    <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('assets/js/detect.js')}}"></script>
    <script src="{{asset('assets/js/fastclick.js')}}"></script>
    <script src="{{asset('assets/js/jquery.slimscroll.js')}}"></script>
    <script src="{{asset('assets/js/jquery.blockUI.js')}}"></script>
    <script src="{{asset('assets/js/waves.js')}}"></script>
    <script src="{{asset('assets/js/wow.min.js')}}"></script>
    <script src="{{asset('assets/js/jquery.nicescroll.js')}}"></script>
    <script src="{{asset('assets/js/jquery.scrollTo.min.js')}}"></script>

    <script src="{{asset('assets/js/jquery.app.js')}}"></script>

    <script>
        $(document).ready(function () {
        $("#compte").hide();
        $("#creation").click(function () {
                $("#conexion").hide();
                $("#compte").show();
            });
        $("#retour").click(function () {
                $("#compte").hide();
                $("#conexion").show();
            });
        });

        //Formulaire de connexion

        $("#connexion").on("submit", function(e){
            e.preventDefault();
            $.ajax({

                url: "{{path("ajaxConnexion")}}",
                type: "POST",
                data: $(this).serialize(),
                dataType: "text",

                success: function(data){
                    if(data=="ok")
                        window.location.href = "{{path("admin")}}"
                },

                error: function(res, stat, error) {
                    alert(error);
                }
            })
        })
</script>

</body>

</html>