{% extends "::admin.html.twig" %}

{% block content %}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="pull-left page-title">Détails de la réservation</h4>
        <ol class="breadcrumb pull-right">
            <li><a href="{{ path('admin') }}">Reservations</a></li>
            <li class="active">Détail</li>
            <li><a href="{{ path('contrat', {"id": reservation.id}) }}">Contrat</a></li>
        </ol>
    </div>
</div>

<div class="col-lg-6">
    <div class="panel panel-border panel-primary" style="height: 360px;">
        <div class="panel-heading"> 
            <h3 class="panel-title">Informations du client</h3> 
        </div> 
        <div class="panel-body"> 
            <p><i><B>Nom du client: </B></i>{{ reservation.client.nomComplet }}</p>
            <p><i><B>Numero de pièce: </B></i>{{ reservation.client.numpiece }}</p> 
            <p><i><B>Adresse: </B></i>{{ reservation.client.adress}}</p>
            <p><i><B>Téléphone: </B></i>{{ reservation.client.tel}}</p>
            <p><i><B>Email: </B></i>{{ reservation.client.email}}</p>
        </div> 
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-border panel-primary" style="height: 360px;">
        <div class="panel-heading"> 
            <h3 class="panel-title">Informations du Bien</h3> 
        </div> 
        <div class="panel-body"> 
            <p><i><B>Nom du bien: </B></i>{{ reservation.bien.nomBien }}</p>
            <p><i><B>Type du bien: </B></i>{{ reservation.bien.type.libelle }}</p> 
            <p><i><B>Localité: </B></i>{{ reservation.bien.localite.libelle }}</p>
            <p><i><B>Description: </B></i>{{ reservation.bien.description}}</p>
            <p><i><B>Prix Location: </B></i>{{ reservation.bien.prixLocation}}FCFA</p>
        </div> 
    </div>
</div>
<div class="col-lg-2"></div>
<div class="col-lg-8">
    <div class="panel panel-color panel-primary">
        <div class="panel-heading"> 
            <h3 class="panel-title">Images du biens</h3> 
        </div> 
        <div class="panel-body"> 
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ asset('image/') }}{{ reservation.bien.images[0].image }}" alt="Los Angeles" style="width: 100%; height: 250px">
                    </div>
                    {% for images in reservation.bien.images %}
                    <div class="item">
                        <img src="{{ asset('image/') }}{{ images.image }}" alt="Los Angeles" style="width: 100%; height: 250px;">
                    </div>
                    {% endfor %}
                </div> 
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>

<center>
    <a href="{{ path('enCours') }}"><button type="button" class="btn btn-danger waves-effect waves-light m-b-5">Retour</button></a>
    <a href="{{ path('contrat', {"id": reservation.id}) }}"><button type="button" class="btn btn-primary waves-effect waves-light m-b-5">Valider</button></a>
</center>


{% endblock %}